<header>
    <nav  id="navbar"class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top bg-transparent" style="background-color: black;">
        <div class="container-xxl ">
           <a class="navbar-brand " href="#">
  <img src="images/Asset 3.png" alt="Logo" width="240" height="80" class="d-inline-block align-text-top">
  
</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 justify-content-center ">
              <li class="nav-item ">
                <a class="nav-link active me-5 " aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-5" href="#lawyers">Our Lawyers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-5" href="http://localhost:3000/reviews">Reviews</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Practice Areas
                </a>
                <ul class="dropdown-menu space">
                  <li><a class="dropdown-item" href="#1">Criminal Law</a></li>
                  <li><a class="dropdown-item" href="#1">Tax Law</a></li>
                  <li><a class="dropdown-item" href="#1">Intellectual Property</a></li>
                  <li><a class="dropdown-item" href="#1">Administrative Law</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">View All</a></li>
                </ul>
              </li>
              <button type="button" class="btn btn-light ms-5 appointment "> Book an Appointment</button>
            </ul>
            
          </div>
        </div>
      </nav>
    
</header>